@import "tailwindcss";

* {
  box-sizing: border-box;
  margin: 10;
  padding: 3;
}

body {
  background-color: #000914; 
  background-image: url('./assets/hero-bg.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed; 
  background-position: center;
  font-family: 'Franklin Gothic Medium', 'Arial', sans-serif;
  color: white;
  min-height: 100vh;
}
